<form method="POST">
<body>
    <form action="/edit" method="post">

     <h1>EDIT YOUR PROFILE</h1>
{{#currentUser}}

<div class="register">
 <div>

    <input type="text" id="first" name="user_first" value={{user_first}}>
    <label for="first">First</label>
 </div>
 <div>

    <input type="text" id="last" name="user_last" value={{user_last}}>
    <label for="last">Last</label>
 </div>
  <div>

    <input type="text" id="email" name="email" value={{email}}>
    <label for="email">Email</label>
  </div>
  <div>

    <input type="password" id="password" name="password_hash" value={{password_hash}}>
    <label for="password">Password</label>
  </div>
  <div>

    <input type="text" id="age" name="age" value={{age}}>
    <label for="age">age</label>
  </div>
  <div>

    <input type="text" id="city" name="city" value={{city}}>
    <label for="city">city</label>
  </div>
  <div>

    <input type="href" id="url" name="url" value={{url}}>
    <label for="url">url</label>
  </div>
      <input type="hidden" name="userid" value="{{userid}}">

  
      {{/currentUser}}
 

    <input type="submit"  value="submit">
    </div>
        <!---  <button type="button" class="button clear" data-action="clear">clear</button>
                  <button type="sumbit" class="submit" data-action="submit">submit</button> -->

 
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>
</body>
</form>
