<h1></h1>

{{#fullNames}}

    <div class=signednames>

    <h3> <a href="http://{{url}}">{{user_first}} {{user_last}}</a>  {{age}} <a href="/signers/{{city}}">{{city}}</a></div></h3>
    

      <div class="nav"></div>

{{/fullNames}}

<div class = 'profile'><p>would you like to <a href="/register">logout</a>?  </p></div>

<div class = 'edit'>would you like to <a href="/edit">make changes?</a></div>