<h1></h1>

{{#fullNames}}



    <h3>you are in the company of {{user_first}} {{user_last}} {{age}} {{url}}</h3>
    <a href="/signers/{{city}}">{{city}}</a>

   
{{/fullNames}}
<a href="/edit">make changes?</a>